/*------------------------------------*\
    NAVBAR
\*------------------------------------*/
/**
 * NAVBAR............This document defines the styles of navbar
 */

 @import "../common/variable.scss";


 .navbar{
    @include size(100%, 50px);
    background-color: rgba($white, 0.3);
    box-shadow: 0 4px 12px 0 rgba($black, .05);
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    ul{ 
        @include size(100%, 50px);
        li{
            margin-right: 20px;
        }
    }
    .title{
        font-weight: bolder;
        font-size: $font-xl;
        color: $blue-dark;
    }
 }