/*------------------------------------*\
    PLAYER
\*------------------------------------*/
/**
 * PLAYER............This document defines the styles of player
 */

@import "./variable.scss";

.player{
    @include size(80%, 80vh);
    @include max-size(300px, 350px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 3%;
    background: url("../imgs/bak_2.png") no-repeat;
    background-size: cover;
    border-radius: 3px;
    z-index: 101;
    .title{
        font-size: $font-xxl;
        color: $blue-dark;
        margin: 10px auto 20px auto;
    }
    .btn-start{
        @include size(85%, 35px);
        border: none;
        border-radius: 20px;
        margin: 30px auto;
        font-weight: bolder;
        color: $white;
        background: linear-gradient(135deg, $blue, $green);
    }
    .player-name{
        @include size(85%, 40px);
        border-bottom: solid 1px $gray-light;
        margin: 10px 0px;
        padding: 5px;
        input[type=textbox]{
            @include size(130px, 30px);
            font-size: $font-l;
            border: none;
            background-color: transparent;
            margin-left: 10px;
        }
        input[type=textbox]:focus{
            outline: none;
        }
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px 0px 5px;
        path{
            fill: $black-sub;
        }  
    }
    .icon-first{
        margin-top: 3px;
        margin-left: 8px;
    }
}