/*------------------------------------*\
    COMMON
\*------------------------------------*/
/**
 * COMMON............This document defines the styles commonly used by this app
 * FLEXBOX...........Flexbox related style
 * STATE.............Specific state style
 * BUTTON............Button related style
 * OTHERS............Other style
 */

@import "./variable.scss";


/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/
.flex{
    display: flex;
}
.flex-hor-center{
    justify-content: center;
}
.flex-hor-between{
    justify-content: space-between;
}
.flex-hor-right{
    justify-content: flex-end;
}
.flex-ver-center{
    align-items: center;
}
.flex-ver-bottom{
    align-items: flex-end;
}
.flex-flow-col{                                                                                                                          
    flex-flow: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

/*------------------------------------*\
    STATE
\*------------------------------------*/
.is-hidden{
    display: none !important;
}

.is-visible{
    display: initial;
}

.is-flex{
    display: flex !important;
}

.is-hidden-opacity{
    @include size(0px, 0px);
    position: absolute; 
    top: 0px;
    z-index: -1 !important;
    opacity: 0 !important;
}


/*------------------------------------*\
    BUTTON
\*------------------------------------*/
button{
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
button:hover{
    transform: translate(2px, 2px);
}
button:focus{
    outline: none;
}

/*------------------------------------*\
    OTHERS
\*------------------------------------*/
*{
    font-family: "Itim", cursive, "Microsoft JhengHei", sans-serif;
    box-sizing: border-box;
}

body{
    @include size(100%, 100vh);
    background-color: $gray-light;
}

.wrapper{
    @include size(100%, 100%);
    @include max-size(1200px, auto);
}

hr{
    @include size(100%, 1px);
    border: none;
    background-color: $white-sub-2;
    margin: 20px auto;
}
